@charset "UTF-8";
 /*===RESPONSIVE WEB DESIGN =GRIDVIEW===*/
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
   [class*="col-"] {
  float: left;
  padding: 15px;
  border: 3px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.row::after {
  content: "";
  clear: both;
  display: table;
}
  
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background-color: rgb(0, 64, 64);
  }

  
  
  
  
  /*Navbar styling*/
  
  ul {
    list-style-type: none;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .navbar {
    background: rgb(192, 192, 192);
    color: #fff;
    height: 60px;
    opacity: 0.9;
  }
  
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
    margin-left:0px;
  

  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #9f2c2f;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 12px;
    margin-right:10px;
  }
  
  .row{
  width:100%;
  margin-bottom:50px;
  border-radius:10px;
  


 
  }
  
    #col1{
  background-color:#ccc;
  float:left;
  margin-right:2.5%;
  margin-left:2.5%;

  
  }
   #col2{
  background-color:#eeffdd;
   float:left;
   margin-right:2.5%;
   
  
  }
   #col3{
  background-color:#eee;
   float:right;
   margin-right:2.5%;
  
  }
  .box{
  height:250px;
  width:30%;
  border-radius:15px;
  margin-top:20px;
  margin-bottom:15px;
  
  }
 .image1 img {
  width: 100%;
  height: 200px;
  border-radius:15px 15px 0 0;
}

p {
  font-size: 18px;
  font-weight: bold;
  text-align:center;
}
.col-12{
	text-align:center;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
}

  .section1{
	 background-color: rgb(65, 65, 65);
	 border-radius:10px;
	 
  }
  
  
    .section2{
	 background-color: rgb(0, 128, 128);
	 border-radius:10px;
	 
  }
  
    .section3{
	 background-color: rgb(83, 84, 75);
	 border-radius:10px;
	 
  }
  
    /*contact styling*/
 
   form {
    width: 800px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 100px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 90%;
    padding: 10px;
    background-color: #eaeaeaa9; 
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
  }

  textarea{
    background-color: #eaeaeaa9;
    border: 0;
    border-radius: 10px;
}


 .section4{
        color: #fff;
        min-height: 600px;
        background-image: linear-gradient(rgba(60, 60, 60, 0.5), rgba(60, 60, 60, 0.5)), url("images/meetings-bg.jpg");
          background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        justify-content: center;
        align-items: center;
      
  }

.container4{

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    min-height: 500px;
    display: flex;
    justify-content: center;


}

.box4{
    min-height: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}




 .box1{
    min-height: 500px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.contact-info{
    background-color: rgb(255, 128, 64);
    height: 500px;
    width: 250px;
    border-radius: 15px;
    background-image: url("images/service-item-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 100px;

 }
 
  .contact-info span{
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: auto;
    display:block;
 }

 .contact-info h6{
    color: #fff;
    text-align: center;
    margin: auto;
    display:block;
 }


 .contact-info li{
    color: #fff;
    text-align: center;
    margin: auto;
    display:block;
    margin: 40px;
 }




footer{
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top:20px;
 
  }

   hr{
	justify-content: center;
	margin-top:30px;
	width:80%;
	margin-left:180px;
}



  
  
  
  
  
  
  
  
  
  
  
  
  
  
/*End of navbar*/



 

